//@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800';
@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
/* Global Styles
********************************************************************* */

*{
  font-family: 'Open Sans Hebrew', sans-serif; !important;
}
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 300;
  direction: rtl;
  font-family: 'Open Sans Hebrew', sans-serif; !important;
  color: #525252;
}

h1,h2,h3,h4,h5,h6,span,div,p,nav,html,input,label,button{
  font-family: 'Open Sans Hebrew', sans-serif; !important;
}


.loading_page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #1c1c1d;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#40000000',GradientType=1 );
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11111;
  pointer-events: none;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.loader_page{
  background-color: #1c1c1d;
}

.loader_page {
  position: absolute;
  width: 15rem;
  height: 15rem;
  left: 50%;
  top: 50%;
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg) scaleX(-1);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg) scaleX(-1);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg) scaleX(-1);
  transform: translateX(-50%) translateY(-50%) rotate(-90deg) scaleX(-1);
}
.loader_page div {
  position: absolute;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  background: white;
  border-radius: 1rem;
  opacity: 0;
}

.loader_page div:nth-child(1) {
  top: 0rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 0s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 0s infinite ease-in-out;
  animation: dna_rotate 2s 0s infinite ease-in-out;
}

.loader_page div:nth-child(2) {
  top: 0.6rem;
  -moz-animation: dna_rotate 2s 1.1s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 1.1s infinite ease-in-out;
  animation: dna_rotate 2s 1.1s infinite ease-in-out;
}

.loader_page div:nth-child(3) {
  top: 1.2rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 0.2s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 0.2s infinite ease-in-out;
  animation: dna_rotate 2s 0.2s infinite ease-in-out;
}

.loader_page div:nth-child(4) {
  top: 1.8rem;
  -moz-animation: dna_rotate 2s 1.3s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 1.3s infinite ease-in-out;
  animation: dna_rotate 2s 1.3s infinite ease-in-out;
}

.loader_page div:nth-child(5) {
  top: 2.4rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 0.4s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 0.4s infinite ease-in-out;
  animation: dna_rotate 2s 0.4s infinite ease-in-out;
}

.loader_page div:nth-child(6) {
  top: 3rem;
  -moz-animation: dna_rotate 2s 1.5s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 1.5s infinite ease-in-out;
  animation: dna_rotate 2s 1.5s infinite ease-in-out;
}

.loader_page div:nth-child(7) {
  top: 3.6rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 0.6s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 0.6s infinite ease-in-out;
  animation: dna_rotate 2s 0.6s infinite ease-in-out;
}

.loader_page div:nth-child(8) {
  top: 4.2rem;
  -moz-animation: dna_rotate 2s 1.7s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 1.7s infinite ease-in-out;
  animation: dna_rotate 2s 1.7s infinite ease-in-out;
}

.loader_page div:nth-child(9) {
  top: 4.8rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 0.8s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 0.8s infinite ease-in-out;
  animation: dna_rotate 2s 0.8s infinite ease-in-out;
}

.loader_page div:nth-child(10) {
  top: 5.4rem;
  -moz-animation: dna_rotate 2s 1.9s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 1.9s infinite ease-in-out;
  animation: dna_rotate 2s 1.9s infinite ease-in-out;
}

.loader_page div:nth-child(11) {
  top: 6rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 1s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 1s infinite ease-in-out;
  animation: dna_rotate 2s 1s infinite ease-in-out;
}

.loader_page div:nth-child(12) {
  top: 6.6rem;
  -moz-animation: dna_rotate 2s 2.1s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 2.1s infinite ease-in-out;
  animation: dna_rotate 2s 2.1s infinite ease-in-out;
}

.loader_page div:nth-child(13) {
  top: 7.2rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 1.2s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 1.2s infinite ease-in-out;
  animation: dna_rotate 2s 1.2s infinite ease-in-out;
}

.loader_page div:nth-child(14) {
  top: 7.8rem;
  -moz-animation: dna_rotate 2s 2.3s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 2.3s infinite ease-in-out;
  animation: dna_rotate 2s 2.3s infinite ease-in-out;
}

.loader_page div:nth-child(15) {
  top: 8.4rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 1.4s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 1.4s infinite ease-in-out;
  animation: dna_rotate 2s 1.4s infinite ease-in-out;
}

.loader_page div:nth-child(16) {
  top: 9rem;
  -moz-animation: dna_rotate 2s 2.5s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 2.5s infinite ease-in-out;
  animation: dna_rotate 2s 2.5s infinite ease-in-out;
}

.loader_page div:nth-child(17) {
  top: 9.6rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 1.6s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 1.6s infinite ease-in-out;
  animation: dna_rotate 2s 1.6s infinite ease-in-out;
}

.loader_page div:nth-child(18) {
  top: 10.2rem;
  -moz-animation: dna_rotate 2s 2.7s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 2.7s infinite ease-in-out;
  animation: dna_rotate 2s 2.7s infinite ease-in-out;
}

.loader_page div:nth-child(19) {
  top: 10.8rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 1.8s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 1.8s infinite ease-in-out;
  animation: dna_rotate 2s 1.8s infinite ease-in-out;
}

.loader_page div:nth-child(20) {
  top: 11.4rem;
  -moz-animation: dna_rotate 2s 2.9s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 2.9s infinite ease-in-out;
  animation: dna_rotate 2s 2.9s infinite ease-in-out;
}

.loader_page div:nth-child(21) {
  top: 12rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 2s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 2s infinite ease-in-out;
  animation: dna_rotate 2s 2s infinite ease-in-out;
}

.loader_page div:nth-child(22) {
  top: 12.6rem;
  -moz-animation: dna_rotate 2s 3.1s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 3.1s infinite ease-in-out;
  animation: dna_rotate 2s 3.1s infinite ease-in-out;
}

.loader_page div:nth-child(23) {
  top: 13.2rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 2.2s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 2.2s infinite ease-in-out;
  animation: dna_rotate 2s 2.2s infinite ease-in-out;
}

.loader_page div:nth-child(24) {
  top: 13.8rem;
  -moz-animation: dna_rotate 2s 3.3s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 3.3s infinite ease-in-out;
  animation: dna_rotate 2s 3.3s infinite ease-in-out;
}

.loader_page div:nth-child(25) {
  top: 14.4rem;
  background: #fdb37f;
  -moz-animation: dna_rotate 2s 2.4s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 2.4s infinite ease-in-out;
  animation: dna_rotate 2s 2.4s infinite ease-in-out;
}

.loader_page div:nth-child(26) {
  top: 15rem;
  -moz-animation: dna_rotate 2s 3.5s infinite ease-in-out;
  -webkit-animation: dna_rotate 2s 3.5s infinite ease-in-out;
  animation: dna_rotate 2s 3.5s infinite ease-in-out;
}

@-moz-keyframes dna_rotate {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
    transform: scale(1);
    left: 40%;
    z-index: 0;
  }
  25% {
    opacity: 1;
    -moz-transform: scale(1.8);
    transform: scale(1.8);
  }
  50% {
    opacity: 1;
    left: 60%;
    z-index: 1;
    -moz-transform: scale(1);
    transform: scale(1);
  }
  75% {
    opacity: 1;
    -moz-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    left: 40%;
    z-index: 0;
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes dna_rotate {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    left: 40%;
    z-index: 0;
  }
  25% {
    opacity: 1;
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }
  50% {
    opacity: 1;
    left: 60%;
    z-index: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    opacity: 1;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    left: 40%;
    z-index: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes dna_rotate {
  0% {
    opacity: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    left: 40%;
    z-index: 0;
  }
  25% {
    opacity: 1;
    -moz-transform: scale(1.8);
    -ms-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
  }
  50% {
    opacity: 1;
    left: 60%;
    z-index: 1;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    opacity: 1;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    left: 40%;
    z-index: 0;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}



.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column, .columns {
  width: 100%;
  float: right;
  box-sizing: border-box; }

.column, .columns {
  margin-left: 4%; }

.column:first-child, .columns:first-child {
  margin-left: 0; }

.one.column, .one.columns {
  width: 4.66667%; }

.two.columns {
  width: 13.33333%; }

.three.columns {
  width: 22%; }

.four.columns {
  width: 30.66667%; }

.five.columns {
  width: 39.33333%; }

.six.columns {
  width: 48%; }

.seven.columns {
  width: 56.66667%; }


.nine.columns {
  width: 74%; }

.ten.columns {
  width: 82.66667%; }

.eleven.columns {
  width: 91.33333%; }

.twelve.columns {
  width: 100%;
  margin-left: 0; }

.one-third.column {
  width: 30.66667%; }

.two-thirds.column {
  width: 65.33333%; }

.one-half.column {
  width: 48%; }

.offset-by-one.column, .offset-by-one.columns {
  margin-left: 8.66667%; }

.offset-by-two.column, .offset-by-two.columns {
  margin-left: 17.33333%; }

.offset-by-three.column, .offset-by-three.columns {
  margin-left: 26%; }

.offset-by-four.column, .offset-by-four.columns {
  margin-left: 34.66667%; }

.offset-by-five.column, .offset-by-five.columns {
  margin-left: 43.33333%; }

.offset-by-six.column, .offset-by-six.columns {
  margin-left: 52%; }

.offset-by-seven.column, .offset-by-seven.columns {
  margin-left: 60.66667%; }

.offset-by-eight.column, .offset-by-eight.columns {
  margin-left: 69.33333%; }

.offset-by-nine.column, .offset-by-nine.columns {
  margin-left: 78%; }

.offset-by-ten.column, .offset-by-ten.columns {
  margin-left: 86.66667%; }

.offset-by-eleven.column, .offset-by-eleven.columns {
  margin-left: 95.33333%; }

.offset-by-one-third.column, .offset-by-one-third.columns {
  margin-left: 34.66667%; }

.offset-by-two-thirds.column, .offset-by-two-thirds.columns {
  margin-left: 69.33333%; }

.offset-by-one-half.column, .offset-by-one-half.columns {
  margin-left: 52%; }

.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both; }

@media (max-width: 550px) {
  .column, .columns {
    margin-left: 0; }
  .container {
    width: 80%; }
  article {
    padding: 3rem 0; }
  .one.column, .one.columns {
    width: 100%; }
  .two.columns {
    width: 100%; }
  .three.columns {
    width: 100%; }
  .four.columns {
    width: 100%; }
  .five.columns {
    width: 100%; }
  .six.columns {
    width: 100%; }
  .seven.columns {
    width: 100%; }
  .eight.columns {
    width: 100%; }
  .nine.columns {
    width: 100%; }
  .ten.columns {
    width: 100%; }
  .eleven.columns {
    width: 100%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 100%; }
  .two-thirds.column {
    width: 100%; }
  .one-half.column {
    width: 100%; } }

a {
  color: #FFFFFF;
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
/* Typography
********************************************************************* */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
}
h1 {
  font-size: 44px;
}
/* Header Section
********************************************************************* */

header {
  background: #0469A7;
  background-image: url(../img/bg.jpg);
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
header h1 {
  font-size: 58px;
  color: #FFFFFF;
  padding-top: 70px;
  font-weight: 600;
}
header h2 {
  color: #FFFFFF;
  margin-bottom: 10px;
}

.smoothscroll:hover {
  text-decoration: underline !important;
}

nav {
  display: block;
  color: white;
}

.h2, h2 {
  font-size: 1.4rem;
}

header p {
  color: #FFFFFF;
}
.hero {
  margin-top: 10%;
  text-align: right;
}
.appstorebutton {
  display: inline-block;
  max-height: 50px;
  width: auto;
  padding-top: 40px;
  padding-right: 10px;
}
.phone {
  max-width: 220px;
  height: auto;
  float: right;
}
.logo {
  position: absolute;
  left: 20px;
  top: 20px;
  max-width: 300px;
  height: auto;
}
.main_nav {
  top: 0px;
  max-height: 50px;
  z-index: 999;
  width: 100%;
  padding-top: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 6px;
}
.socialIcons {
  color: #FFFFFF;
  font-size: 28px;
}

#menu{
  background-color: #000000b3;
  color: white;
}

@media only screen and (max-width: 766px) {
  .main_nav {
    padding-top: 10px;
  }

  header {
    height: auto;
  }
}
.open-nav {
  max-height: 300px !important;
}
nav {
  width: 100%;
  margin-top: 5px;
}

@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  padding: 0;
}

@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 0px;
    margin-bottom: 22px;
    text-align: right;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  letter-spacing: 1px;
}

@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
  nav ul li:first-child {
    margin-top: 70px;
  }
}
nav ul a {
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: none;
}
nav ul a:hover {
  color: #CFCFCF;
}
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
}

ul.smalltext {
  color: white;
}

.image_swiego {
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-height: 785px) {
  #logocontainer{
    display:none;
  }
}



@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
  #logocontainer{
    display: none;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  background: #ffffff;
  display: block;
}
/* About Section
********************************************************************* */

#about h1{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  color: black;
}

#about {
  background: #F6F6F6;
  padding: 80px 0 80px 0;
  min-height: 400px;
  text-align: right;
}
/* Features Section
********************************************************************* */



#features {
  padding: 80px 0 80px 0;
  min-height: 400px;
  background: #1d2124;
}
.phoneFeature {
  max-width: 220px;
  height: auto;
  display: block;
  margin: 0 auto;
}
#features h2 {
  padding-top: 20px;
}

#features h1 {
  margin-bottom: 30px;
}

section#features p {
  text-align: right;
  color: white;
}

section#features h2 {
  text-align: center;
  color: #343a40;
}


/* Contact Section
********************************************************************* */

#contact {
  background: #F6F6F6;
  min-height: 400px;
  position: relative;
}
form {
  //font-family: 'Open Sans';
  box-sizing: border-box;
  margin-top: 50px;
}
textarea {
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.3rem;
  background: #ffffff;
  color: #525252;
  //font-family: 'Open Sans';
  font-size: 18px;
}

input[type=submit], textarea[type=submit] {
  background: #0D8CB0;
  color: #fff;
  width: auto;
}
input::placeholder, textarea::placeholder {
  color: #525252;
}
input.error, textarea.error {
  background: #AD4747;
  color: #fff;
}
input.error::placeholder, textarea.error::placeholder {
  color: black;
}
textarea {
  height: 10rem;
}

/* Media Queries
********************************************************************* */

@media only screen and (max-width: 766px) {
  header h1 {
    font-size: 35px;
    padding-top: 10px;
  }

  .h2, h2 {
    font-size: 1.6rem;
  }

  .hero {
    margin-top: 40px;
  }
  .appstorebutton {
    padding-top: 0px;
  }
  .logo {
    max-width: 50%;
  }
}

@media only screen and (max-width: 550px) {
  .mobile-toggle {
    right: 0px;
    top: 20px;
  }
  .phone {
    display: none;
  }
}


#logocontainer {
  background: transparent;
  bottom: -110px;
  left: 0%;
  transform: translate(0%, 0);
  width: 450px;
  height: 450px;
  position: absolute;
}

#css3 {
  margin: 0;
  position: absolute;
  top: 67%;
  left: 20%;
  width: 15%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

#html5 {
  margin: 0;
  position: absolute;
  top: 37%;
  left: 30%;
  width: 15%;
  transform: translate(-50%, -50%);
}

#sass {
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 15%;
  transform: translate(-50%, -50%);
}

#js {
  margin: 0;
  position: absolute;
  top: 37%;
  left: 70%;
  width: 15%;
  transform: translate(-50%, -50%);
}

#php {
  margin: 0;
  position: absolute;
  top: 67%;
  left: 80%;
  width: 15%;
  transform: translate(-50%, -50%);
}

#Retina1, #Retina2 {
  animation-name: blink;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transform-origin: 50%;
}

@keyframes blink {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  1% {
    transform: scaleX(1.3) scaleY(0.1);
  }
  2% {
    transform: scaleX(1) scaleY(1);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  61% {
    transform: scaleX(1.3) scaleY(0.1);
  }
  62% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
#sanky {
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

#retina {
  width: 50%;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  width: 50%;
  z-index: -4;
  transform: translate(-50%, -50%);
}



form {
  text-align: center;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}
label .label-text {
  color: #9B9B9B;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}
label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: white;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}
label input:focus {
  max-width: 100%;
  width: 400px;
}
label input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}
label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

button {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}
button:hover, button:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}

.card-form {
  width: 500px;
  border-radius: 10px;
  -webkit-box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.card-form .form-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
  background: #17B794;
  border-radius: 10px 10px 0 0;
}
.card-form .form-body {
  padding: 10px;
}
.card-form .form-body .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px;
}
.card-form .form-body .row input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin: 0 15px;
  height: 35px;
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #e8ebed;
  color: #576366;
  font-size: 14px;
}
.card-form .rule {
  height: 2px;
  background: #e8ebed;
  margin: 0px 35px;
}
.card-form .form-footer {
  margin: 0 25px 15px 25px;
  padding: 15px 10px;
}
.card-form .form-footer a {
  display: inline-block;
  height: 40px;
  line-height: 30px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background: #17B794;
  margin-right: 10px;
  font-size: 20px;
  width: 100%;
}
.card-form .form-footer span {
  margin-left: 8px;
}

#features img {
  width: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.nav__item--logo {
  width: 100px;
  margin-left: 15%;
}

.nav__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 12px;
}
.nav__item {
  padding: 0 30px;
  height: 100px;
  text-transform: uppercase;
  color: white;
}

.splash__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.splash__title {
  text-align: center;
  color: white;
  font-size: 42px;
  font-weight: 400;
  //font-family: 'Lato', sans-serif;
}

.splash__btn {
  width: 150px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 15px;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 30px;
}

#waves {
  position: absolute;
  z-index: 0;
  height: 500px;
  background-color: transparent;
  opacity: 0.5;
}




h1{
  color:#fff;
  font-size:35px;
  text-align: center;
  text-transform: capitalize;
}
.service_box{
  margin:20px 0;
  padding:40px 20px;
  text-align: center;
  border-radius:5px;
  background:rgba(59, 63, 66,0.7);
  transition: all 0.30s ease 0s;
  height: 320px;
}
.service_box:hover{
  background:#00BFF3;
}
.service_box .service_icon{
  width: 70px;
  height: 70px;
  margin: 0 auto;
  font-size: 35px;
  background: #2a2c2d;
  line-height: 70px;
  border-radius: 50px;
  transform: translateY(0);
  transition: all 0.30s ease 0s;
}
.service_box:hover .service_icon{
  transform: translateY(-100%);
}
.service_box .service_icon i{
  color:#333;
}
.service_box h3{
  position: relative;
  top:40px;
  margin:0;
  color:#fff;
  font-size:23px;
  text-transform:uppercase;
  transform: translateY(0%);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
.service_box:hover h3{
  top:-40px;
}
.service_box  p{
  color:#fff;
  margin:0;
  opacity:0;
  transition: all 0.30s linear 0s;
}
.service_box:hover p{
  opacity:1;
}

@media only screen and (max-width: 900px) {
  .service_box .service_icon{
    transform: translateY(-100%) !important;
  }

  .service_box p {
    opacity: 1;
  }

  .service_box h3 {
    top: -40px;
  }
}







.e-button {
  width: 100%;
  text-align: center;
}
.e-button .btn {
  font-size: 1rem;
  line-height: 28px;
  transition: all .2s ease-in-out;
  padding: 10px 0px;
  height: 50px;
  border: none;
  background: cadetblue;
  color: #fff;
  font-weight: 600;
  position: relative;
  outline: none;
  width: 100%;
}
.e-button .btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all .3s ease-in-out;
}
.e-button .btn span.success-text {
  visibility: hidden;
  opacity: 0;
}
.e-button .btn:before {
  border-radius: 50px;
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: #27e1ce;
  z-index: -1;
  transition: all .5s ease-in-out, border .3s ease-in-out;
  border: 2px solid #fff;
  box-sizing: border-box;
}
.e-button .btn:after {
  display: inline-block;

  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f00c';
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transform-origin: center;
  right: -28px;
  z-index: 0;
  color: #fff;
  transition: all .2s ease-in-out;
}
.e-button .btn:hover {
  cursor: pointer;
  transform: scale(1.05) translateY(-5px) translateZ(0);
}
.e-button .btn:hover:before {
  background: #2f2f2f;
  border-color: transparent;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 20px rgba(0, 0, 0, 0.1);
}
.e-button .btn:active {
  transform: scale(1) translateY(0) translateZ(0);
}
.e-button .btn:active:before {
  box-shadow: none;
}
.e-button .btn.clicked {
  transform: scale(1) translateY(0) translateZ(0);
}
.e-button .btn.clicked:before {
  box-shadow: none;
}
.e-button .btn.success {
  color: #FFF;
}
.e-button .btn.success:hover {
  cursor: default;
}
.e-button .btn.success span.text {
  opacity: 0;
  visibility: hidden;
}
.e-button .btn.success span.success-text {
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}
.e-button .btn.success:before {
  right: -50px;
  height: 100%;
  width: 78px;
  background: #4db948;
  border-color: #3e9539;
}
.e-button .btn.success:after {
  transition-delay: .3s;
  transform: translateY(-50%) scale(1);
}
.e-button .btn.success:hover, .e-button .btn.success:active {
  transform: scale(1) translateY(0) translateZ(0);
}
.e-button .btn.success:hover:before, .e-button .btn.success:active:before {
  box-shadow: none;
}




#contact_form{
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(-26px);
  right: 10px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
  transform: translateY(11px);
  right: 0px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, -webkit-box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  padding: 10px 0;
  //font-family: "Raleway", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #6dcd9a;
  border-radius: 5px;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

a.smoothscroll {
  cursor: pointer;
}

/////




//@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
:root {
  background-image: radial-gradient(ellipse farthest-corner, transparent, #1a1a1a), repeating-linear-gradient(-30deg, transparent 0, transparent 1.25rem, rgba(0, 0, 0, 0.1) 1.25rem, rgba(0, 0, 0, 0.1) 1.5rem), repeating-linear-gradient(30deg, transparent 0, transparent 1.25rem, rgba(0, 0, 0, 0.1) 1.25rem, rgba(0, 0, 0, 0.1) 1.5rem);
  min-height: 100vh;
}

.loader {
  /* position: absolute; */
  /* top: 0; */
  /* left: 50%; */
  width: 100%;
  min-height: 100%;
  background-color: #00CBCB;
  /* border-radius: 0.5rem; */
  /* -webkit-transform: translate(-50%, 0); */
  /* transform: translate(-50%, -50%); */
  overflow: hidden;
}
.loader__result {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: transparent;
  background-color: #37C0C9;
  /* border-radius: 50%; */
  -webkit-transition: width 333ms ease-in, height 333ms ease-in, color 125ms ease-in, font-size 500ms cubic-bezier(0, 1.58, 0.18, 1) 125ms, border-radius 125ms ease-in;
  transition: width 333ms ease-in, height 333ms ease-in, color 125ms ease-in, font-size 500ms cubic-bezier(0, 1.58, 0.18, 1) 125ms, border-radius 125ms ease-in;
  font-size: 0;
  text-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader__result--is-complete {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  color: white;
}
.loader__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  -webkit-transform: translatey(-25%) translate(-50%, -50%);
  transform: translatey(-25%) translate(-50%, -50%);
}
.loader__message {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 1.5em;
  text-align: center;
  -webkit-transform: translatey(1rem);
  transform: translatey(1rem);
}

.loader__decoration {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.loader__decoration--a {
  background-color: rgba(60, 175, 218, 0.15);
  -webkit-animation: ue47bqmt9 1s infinite ease-in-out;
  animation: ue47bqmt9 1s infinite ease-in-out;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
@-webkit-keyframes ue47bqmt9 {
  from, to {
    -webkit-transform: translate(-50%, -50%) scale(2.5);
    transform: translate(-50%, -50%) scale(2.5);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }
}
@keyframes ue47bqmt9 {
  from, to {
    -webkit-transform: translate(-50%, -50%) scale(2.5);
    transform: translate(-50%, -50%) scale(2.5);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
    transform: translate(-50%, -50%) scale(1.5);
  }
}
.loader__decoration--b {
  background-color: rgba(60, 175, 218, 0.15);
  -webkit-animation: ue47bqmtb 1s infinite ease-in-out;
  animation: ue47bqmtb 1s infinite ease-in-out;
  -webkit-animation-delay: -0.333s;
  animation-delay: -0.333s;
}
@-webkit-keyframes ue47bqmtb {
  from, to {
    -webkit-transform: translate(-50%, -50%) scale(1.75);
    transform: translate(-50%, -50%) scale(1.75);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.25);
    transform: translate(-50%, -50%) scale(1.25);
  }
}
@keyframes ue47bqmtb {
  from, to {
    -webkit-transform: translate(-50%, -50%) scale(1.75);
    transform: translate(-50%, -50%) scale(1.75);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.25);
    transform: translate(-50%, -50%) scale(1.25);
  }
}
.loader__decoration--c {
  background-color: #3CAFDA;
  -webkit-animation: ue47bqmtd 1s infinite ease-in-out;
  animation: ue47bqmtd 1s infinite ease-in-out;
}
@-webkit-keyframes ue47bqmtd {
  from, to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0.75);
    transform: translate(-50%, -50%) scale(0.75);
  }
}
@keyframes ue47bqmtd {
  from, to {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0.75);
    transform: translate(-50%, -50%) scale(0.75);
  }
}


.generic-anchor {
  color: $primary-light-blue;
  &:visited {
    color: $primary-light-blue
  }
  &:hover {
    color: $primary-line-color
  }
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}
//This main is mostly to push the footer to the bottom and for demo purposes.

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


footer {
  width: 100%;
  display: block;
  height: 70px;
  font: 11px "Open Sans", sans-serif;
  background-color: #2f2e2e;
}

footer p {
  margin-top: 0;
  margin-bottom: 0rem;
}

footer .copyright {
  width: 50%;
  float: left;
  text-align: left;
}
@media (max-width: 600px) {
  footer .copyright {
    width: 100%;
  }
}
footer .copyright p {
  padding-left: 10%;
  color: white;
  font-size: 1.2em;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  footer .copyright p {
    text-align: center;
    padding: 0;
  }
}
footer .social {
  width: 50%;
  float: right;
}
@media (max-width: 600px) {
  footer .social {
    width: 100%;
  }
}
footer .social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
footer .social a:hover {
  background-color: #222;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.linked {
  background-color: #1E83AE;
  font-size: 1.2em;
  width: 20%;
}

.face {
  background-color: #3D5B94;
  font-size: 1.2em;
  width: 20%;
}

.google_plus {
  background-color: #eb4235;
  font-size: 1.2em;
  width: 20%;
}

.support {
  background-color: #6dcd9a;
  font-size: 1.2em;
  width: 40%;
}

.menu_mobile{
  display: none;
}

nav{
  display: block;
}


@media (max-width: 800px) {
  .menu_mobile{
    display: block;
  }

  nav{
    display: none;
  }
}


.scroll-top {
  cursor: pointer;
  position: fixed;
  width: 40px;
  height: 40px;
  padding: 8px 10px 10px 10px;
  text-align: center;
  background: rgba(255, 255, 255, 0.44);
  border: 1px solid rgba(0, 0, 0, .2);
  bottom: -100px;
  right: 10px;
  z-index: 9999;
  border-radius: 1000px;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.scroll-top.block {
  bottom: 10px;
}

.scroll-top:hover {
  background: rgba(255, 255, 255, 1)
}




#menu, .sub-menu {
  display: none;
  text-align: right;
  padding-right: 10px;
  list-style: none;
}

/*Change toggle size by adjusting width & height*/
.tb-menu-toggle {
  border: 0;
  position: relative;
  background: transparent;
  cursor: pointer;
}

/*Change toggle color here*/
.tb-menu-toggle i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  -webkit-transition:all .2s;
  -moz-transition:all .2s;
  -o-transition:all .2s;
  transition:all .2s;
}
.tb-menu-toggle i:nth-child(2) {
  top: 40%;
}
.tb-menu-toggle i:nth-child(3) {
  top: 80%;
}

/* Style the active toggle here */
.tb-menu-toggle.tb-active-toggle i {  }

/*Animation of the toggle*/
.tb-menu-toggle.tb-animate-toggle i:first-child,
.tb-menu-toggle.tb-animate-toggle i:nth-child(2){
  top: 40%;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);
}
.tb-menu-toggle.tb-animate-toggle i:nth-child(3){
  top: 40%;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

.ng-invalid {
  border: 1px solid red;
}

input[type="text"] {
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::-webkit-input-placeholder {
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:-moz-placeholder {
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
::-moz-placeholder {
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
:-ms-input-placeholder {
  //font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.smalltext li {
  font-size: 17px;
  margin-bottom: 7px;
  margin-right: -14px;
}